<div class="table-navigation">
  <h3>Tables:</h3>
  <ul class="navigation-list">
    <% @tables.each do |other_table| %>
      <li class="navigation-item">
        <%= link_to other_table.name, table_path(other_table.id), class: "btn-nav" %>
      </li>
    <% end %>
  </ul>
  <h2><%= link_to '+', new_table_path, class: "link create-link button-create-table" %></h2>
</div>
