<h3>Tables:</h3>
<ul class="navigation-list">
  <% @tables.each do |table| %>
    <li class="navigation-item">
      <%= link_to table.name, table_path(table.id), class: "btn-nav" %>
    </li>
  <% end %>
</ul>
<%= link_to '+', new_table_path, class: "link create-link" %>
</div>
