:root {
  --dark: #100e0e;
  --beige: #f5f5dc;
  --white: #ffffff;
  --green: #32a834;
  --dark-green: rgb(63, 85, 64);
  --grey: #acacac;
  --brown: #5d4037;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.form {
  position: absolute;
  top: 40px;
  border-radius: 10px;
  padding: 50px;
  height: 42%;
  text-align: center;
  width: 40%;
}

.sign-title {
  margin-bottom: 20px;
  font-size: 28px;
  color: var(--dark-green);
  text-align: center;
}

.field-box {
  margin: 10px 0;
}

.field {
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: var(--dark-green);
  }
}

.btn {
  display: inline-block;
  max-height: 40px;
  width: 90px;
  text-align: center;
  padding: 10px 10px;
  font-size: 16px;
  border-width: 0px;
  background-color: var(--green);
  border-radius: 24px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 5px;

  &:hover {
    background-color: var(--dark-green);
  }

  &:active {
    transform: translateY(2px);
  }
}

.log-in-btn {
  min-width: 60px;
}

.reset-btn {
  width: 240px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
