:root {
  --dark: #100e0e;
  --white: #ffffff;
  --grey: #d5d5d5;
  --dark-grey: #2f2f3a;
  --blue: #728cf6;
  --dark-blue: #2d465b;
  --red: #9e0808;
  --dark-red: #790909;
  --green: #2da60c;
  --dark-green: #07630e;
}
.btn-nav {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 8px;
  background-color: var(--grey);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: var(--dark-blue);
  }
}

.table-navigation {
  display: flex;
  flex-direction: row;
}

.current-table {
  background-color: var(--blue);
  cursor: default;

  &:hover {
    background-color: var(--dark-blue);
  }
}

.navigation-list {
  position: absolute;
  top: 116px;
  left: 136px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navigation-item {
  margin-right: 8px;
}

.priority {
  font-weight: bold;
  margin-left: 30px;
}

.link {
  border: none;
  border-radius: 50px;
  color: var(--white);
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px var(--dark);
  transition: all 0.3s ease;
  text-decoration: none;

  &:active {
    transform: translateY(2px);
    box-shadow: 0px 5px 10px var(--dark);
  }
}

.create-link {
  background-color: var(--green);
  margin-left: 6px;

  &:hover {
    background-color: var(--dark-green);
    box-shadow: 0px 10px 20px var(--dark);
  }
}

.column-header {
  display: flex;
}

.inline-actions {
  display: flex;
  margin-left: 10px;
}

.delete-link {
  background-color: var(--red);
  margin-left: 4px;

  &:hover {
    background-color: var(--dark-red);
    box-shadow: 0px 10px 20px var(--dark);
  }
}

.edit-link {
  background-color: var(--blue);
  position: absolute;
  left: 8px;

  &:hover {
    background-color: var(--dark-blue);
    box-shadow: 0px 10px 20px var(--dark);
  }
}

.edit-column {
  background-color: var(--blue);

  &:hover {
    background-color: var(--dark-blue);
    box-shadow: 0px 10px 20px var(--dark);
  }
}

.edit-table {
  margin-left: 100px;
}

.button-create-table {
  padding: 12px 24px;
  position: absolute;
  top: 138px;
  left: 68px;
}

.submit-button {
  margin-top: 16px;
  margin-left: 92px;
  padding: 12px 18px;
  background-color: var(--green);

  &:hover {
    background-color: var(--dark-green);
  }
}

.back-link {
  background-color: var(--dark);
  color: var(--white);
  position: absolute;
  left: 14px;
  margin-top: 36px;

  &:hover {
    box-shadow: 0px 10px 20px var(--dark);
  }
}

.task-text {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task-box {
  margin-left: 30px;
}

.task-item:not(:last-child) {
  margin-bottom: 60px;
}

.field {
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
  margin-bottom: 10px;
}

.select-field {
  width: 124px;
  padding: 6px;
  border-radius: 5px;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  font-size: 16px;
}

.field-text {
  font-size: 22px;
  margin-right: 8px;
}

.field-over {
  margin-left: 50px;
}

header {
  margin: 12px;
}

.btn-logout {
  display: inline-block;
  padding: 10px 15px;
  margin: 0px;
  background-color: var(--dark-blue);
  color: var(--white);
  text-decoration: none;
  border-radius: 30px;
  text-transform: uppercase;
  border-width: 1px;

  &:hover {
    background-color: var(--dark-grey);
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--dark-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
